# Supabase variables:
SB_CONNECTION_STRING=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
#SB_CONNECTION_STRING=postgresql://[SB_USER]:[SB_PASSWORD]@[SB_HOST]:[SB_PORT]/[SB_DATABASE]

# Connection parameters:
SB_HOST=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
SB_PORT=xxxx
SB_DATABASE=postgres
SB_USER=postgres.xxxxxxxxxxxxxxxxxxxx
SB_PASSWORD=xxxxxxxxxxxxxxxx

